<span class="fa-stack fa-lg text-success">
<i class="fa fa-check fa-stack-1x" style="margin-left:4px;color:#33FFFF" title="VISTO Y REVISADO">
<i class="fa fa-check fa-inverse fa-stack-1x" style="margin-left:-3px;color:#33FFFF" title="VISTO Y REVISADO">
<i class="fa fa-check fa-stack-1x" style="margin-left:-4px;color:#33FFFF" title="VISTO Y REVISADO">
</span>
